.moviesList {
  width: 100vw;
}
.moviesList > :global(span) {
  display: grid;
  grid-template-columns: repeat(auto-fill, 9rem);
  grid-gap: 1.25rem;
  justify-content: center;

  width: calc(calc(9rem + 2.5rem) * 5);
  max-width: calc(100% - 2rem);
  margin: 0 auto;
}
