.pointer {
  cursor: pointer;
}

.settingsButton {
  display: flex;
  align-items: center;
}

.logoutButton:not(:disabled) {
  height: auto;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin: auto 0;

  background-color: white;
}
