.pointer {
  cursor: pointer;
}

.settingsButton {
  display: flex;
  align-items: center;
}

.logoutButton:not(:disabled) {
  height: auto;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin: auto 0;

  background-color: white;
}

.fade-enter, .fade-leave-active { opacity: 0; }
.fade-leave, .fade-enter-active { opacity: 1; }
.fade-enter-active, .fade-leave-active { transition: opacity 0.2s; }
