.pointer {
  cursor: pointer;
}

.settingsButton {
  display: flex;
  align-items: center;
}

.logoutButton:not(:disabled) {
  height: auto;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin: auto 0;

  background-color: white;
}

.title {
  display: flex;
  align-items: center;
}

.filmIcon {
  width: 33px;
  height: 33px;
  margin-right: 10px;
}

.menuIcon {
  font-size: 2rem;
}

:global(.fade-enter),
:global(.fade-leave-active) {
  opacity: 0;
}
:global(.fade-leave),
:global(.fade-enter-active) {
  opacity: 1;
}
:global(.fade-enter-active),
:global(.fade-leave-active) {
  transition: opacity 250ms;
}
