.movie {
  --size: 7rem;

  display: flex;
  flex-direction: column;

  width: var(--size);
  margin: 1rem;
}

.movie > .moviePoster {
  width: var(--size);
  height: var(--size);
  margin-bottom: 0.5rem;

  border-radius: 20px;

  object-fit: cover;
}

.movie > svg.moviePoster {
  padding: 1rem;
  background: linear-gradient(135deg, hsl(0, 0%, 95%), hsl(0, 0%, 85%));
}

.movie > figcaption {
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}