.movie {
  --size: 7rem;

  display: flex;
  flex-direction: column;

  width: var(--size);
  margin: 1rem;
}

.movie > img {
  width: var(--size);
  height: var(--size);
  margin-bottom: 0.5rem;

  border-radius: 20px;

  object-fit: cover;
  background-color: #c4c4c4;
}

.movie > figcaption {
  text-align: center;
}